<h1><%=@user.username.capitalize%>'s <%=@collection.name%> Collection!</h1>
  <em><%=@collection.description%></em>
<ol>
  <%@items.each do |item|%>
    <li>
      <h5>Item: <%=item.name%></h5><br>
      <h6>Condition: <%=item.condition%></h6>
      <img src="<%=item.img_url%>" width="260" height="190" alt="Error Loading Image">
    </li><br><br>
  <%end%>
</ol>
<a href="/collections/<%=@collection.id%>/edit">edit this collection</a>
