<h1><%=@user.username.capitalize%>'s <%=@collection.name%> Collection!</h1>
  <h3><%=@collection.description%></h3>
<ul>
  <%@items.each do |item|%>
    <li>
      <h5><%=item.name%></h5><br>
      <p>Condition: <%=item.condition%></p>
      <img src="<%=item.img_url%>" alt="Error Loading Image">
    </li><br><br>
  <%end%>
</ul>
