<h1><%=@user.username%>'s Account Info</h1>

<br>

<div>
  <form action="/users/<%=@user.id%>" method="post">
  <input id='hidden' type='hidden' name='_method' value='PATCH'>
    <label for="username">Change Username: </label>
    <input type="text" name="username" id="username" value="<%=@user.username%>">
<br><br>
    <label for="description">Tell us something different about yourself: </label>
    <input type="text" name="description" id="description" value="<%=@user.description%>">
    <input type="submit"  name="submit" value="submit">
  </form>

  <br><br>
  <form action="/users/<%=@user.id%>/delete" method="post">
      <input id='hidden' type='hidden' name='_method' value='delete'>
      <input type="submit" value="Delete This Account">
    </form>
</div>