<h1><%=@user.username.capitalize%>'s Homepage</h1>
<br>
  <h3>About me: </h3>
  <div>
    <%=@user.description%>
  </div>
<br>
  <ul><h3>My Collections:</h3>
    <%@collections.each do |col|%>

    <li><a href="/collections/<%=col.id%>"><%=col.name%>:</a> <%=col.description%></li>
    <%end%>
  </ul>

<br>
<br>

<p><a href="/users/<%=@user.id%>/edit">Click here</a> to edit your profile info OR <a href="/collections/new">Click here</a> to create a new collection</p>